<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>INITIAL D INFO WEB</title>
        <link rel="icon" type="image/png" href="../static/img/initial-d-vector-logo.png">
        <link rel="stylesheet" href="../static/estilo/estilo.css">
    </head>
<body>
    

    <header>
<!-- BARRA DE NAVEGACIÓN -->      
        <nav>
            
            <a href="../index.html"><img src="../static/img/Initial_D_logo.png" alt="Initial D logo"></a>
            <ul>
                <li><a href="./info.html">¿QUE ES?</a></li>
                <li><a href="./coches.html">COCHES</a></li>
                <li><a href="./pilotos.html">PILOTOS</a></li>
                <li><a href="./pistas.html">TRAMOS</a></li>
            </ul>

        </nav>

<!-- INFO SERIE -->
        <section class="informacion_serie">

            <h1>¿Qué es Initial D?</h1>
            <p>
                <strong>Initial D</strong> es la colaboración perfecta entre el anime y la cultura automovilística.
            </p>
            <p>
                La ejecución de esta combinación es tan buena que aún puedes encontrar autos con construcciones inspiradas en el anime. 
                También generó popularidad para los automóviles JDM como nunca antes en países occidentales.
            </p>
            <span>
                <strong>Initial D</strong> es un manga japonés escrito e ilustrado por <strong>Shūichi Shigeno</strong>, publicado desde 1995. 
                La historia fue adaptada a una serie de anime y se centra en el mundo de las carreras clandestinas callejeras en Japón.
                Toda la acción se desarrolla en pasajes montañosos, donde los pilotos usan la técnica de <strong>drift</strong>.
            </span>
            <span>
                La historia transcurre en la Prefectura de <strong>Gunma</strong>, Japón. Aunque algunos nombres de las pistas en la serie son ficticios, están basados en lugares reales que han sido recreados con gran precisión en el anime y el manga.
            </span>

        </section>

    </header>

<!-- FOOTER -->
    <footer class="footerweb">

        <p>&copy; 2025 Initial D info web  -  Alex Romero</p>

    </footer>
</body>
</html>